/*.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/


.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: #282c34;
  color: #ff6800;
  border: 1px solid #a9b3cc;
}

.display {
  display: grid;
  grid-template-rows: 30px 50px;
  height: 80px;
  width: 238px;
  border: 1px solid #a9b3cc;
  background: #989aa0;
  color: black;
}

.expression {
  margin-right: 5px;
  align-self: end;
  justify-self: end;
}

.entry {
  align-self: end;
  justify-self: end;
  font-size: 2em;
  margin-right: 5px;
}

.keypad {
  display: grid;
  grid-template-rows: repeat(5, 60px);
  grid-template-columns: repeat(4, 60px);
}

.input-key {
  border: 1px solid #a9b3cc;
  display: grid;
  justify-content: center;
  align-content: center;
  background: #3e434f;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

#clear {
  grid-area: 1/1/2/3;
  background: #606266;
}

#clear-entry {
  background: #606266;
}

.operator {
  /*background: #B3B3B3;*/
  background: #2F3033;
  font-size: 1.4em;
}

#equals {
  background: #3E4F4A;
}

#multiply {
  font-weight: normal;
}

#sign {
  font-size: 1.2em;
}